/* FADE IN */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* BLINK */
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* SCROLL BUTTON ANIMATION*/
@keyframes buttonAnimation {
  	0%   { transform: translateY(-20px); }
  	50%   { transform: translateY(0px); }
  	100%   { transform: translateY(-20px); }
}
@-moz-keyframes buttonAnimation {
	0%   { -moz-transform: translateY(-20px); }
	50%   { -moz-transform: translateY(0px); }
	100%   { -moz-transform: translateY(-20px); }
}
@-webkit-keyframes buttonAnimation {
	0%   { -webkit-transform: translateY(-20px); }
	50%   { -webkit-transform: translateY(0px); }
	100%   { -webkit-transform: translateY(-20px); }
}
@-ms-keyframes buttonAnimation {
	0%   { -ms-transform: translateY(-20px); }
	50%   { -ms-transform: translateY(0px); }
	100%   { -ms-transform: translateY(-20px); }
}
@-o-keyframes buttonAnimation {
	0%   { -o-transform: translateY(-20px); }
	50%   { -o-transform: translateY(0px); }
	100%   { -o-transform: translateY(-20px); }
}