.button, .button.expand, .button[expand]{
	display: inline-block;
	overflow: hidden;
	padding: 0.8rem 2rem;
   color: $blue-pop;
   background-color: $white;
   border: solid 3px $blue-pop;
   transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;

   &:hover, &:active, &:focus{
      background: $blue-pop;
		color: $white
   }

   /* WHITE TRANSPARENT BUTTON */
	&.colored-bg{
		color: $white;
		background-color: transparent;
		border: solid 3px $white;

      &:hover, &:active, &:focus{
			background: $white;
			color: $blue-pop;
		}
	}
	&.transparent-bg{
		color: $blue-pop;
		background-color: transparent;
		border: solid 3px $blue-pop;

      &:hover, &:active, &:focus{
			background: $blue-pop;
			color: $white;
		}
	}
	&.expand.formBtn{
		margin-left: 15px;
	}
}

@media #{$medium-up}{
	.button, .button.expand, .button[expand]{
		&.expand.formBtn{
			margin-right: 15px;
		}
	}
}
