$yellow: #f4e831;
$orange: #f19731;
$red: /* #e85d9b */ rgba(165,40,100,0.8);
$pink: #e25894;
$violet-pop: #802c82;
$violet-dark: /* #24245d */ rgba(59,59,139,0.8);
$blue-pop: #00bdff;
$blue-light: #39ade0;
$blue-dark: #385c9d;
$headings: #fff8c9;
