/** CUSTOM CLASS **/

html body{
	background-color: $oil;
}

#preload{
	position: absolute;
   top:0px;
   left: 0;
   z-index: 99999999;
   height: 1000%;
   width: 100%;
   overflow: hidden;
	background: #52c1bc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyYzFiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E1ZDdiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #52c1bc 0%, #a5d7bf 23%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52c1bc), color-stop(23%,#a5d7bf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52c1bc', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.fullWidth{
	max-width: 100% !important;
}

.splitHeight{
	&.smallTop{
		height: 25%;
	}
	&.smallBtm{
		height: 75%;
	}
}

@media #{$portrait}{
	.splitHeight{
		&.smallTop{
			height: 0%;
		}
		&.smallBtm{
			height: 100%;
			#waterImg{
				background-image: url("../img/headerBgP@2x.png");
			}
		}
	}
}

.square{
	height: 100vw;
}
@media #{$medium-up}{
	.square{
		height: 49vw;
	}
}

/** PAGE LAYOUT **/
header{
	width: 100%;
	height: 100%;
	max-height: 100vh;
	background: #52c1bc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyYzFiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E1ZDdiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #52c1bc 0%, #a5d7bf 23%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52c1bc), color-stop(23%,#a5d7bf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #52c1bc 0%,#a5d7bf 23%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52c1bc', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

	h1{
		transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		&:hover{
			position: relative;
			text-shadow: -1px 1px 0px $violet-dark, -2px 2px 0px $violet-dark, -3px 3px 0px $violet-dark, -4px 4px 0px $violet-dark, -5px 5px 0px $violet-dark, -6px 6px 0px $violet-dark, -7px 7px 0px $violet-dark, -8px 8px 0px $violet-dark, -9px 9px 0px $violet-dark, -10px 10px 0px $violet-dark, -11px 11px 0px $red, -12px 12px 0px $red;
		}
	}
	h3{
		transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		&:hover{
			position: relative;
			text-shadow: -1px 1px 0px $violet-dark, -2px 2px 0px $violet-dark, -3px 3px 0px $violet-dark, -4px 4px 0px $violet-dark, -5px 5px 0px $violet-dark, -6px 6px 0px $violet-dark, -7px 7px 0px $violet-dark, -8px 8px 0px $violet-dark, -9px 9px 0px $red, -10px 10px 0px $red;
		}
	}


	.splitHeight{
		#logo{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			text-align: center;
			z-index: 999;
			img{
				width: 40vh;
				display: inline-block;
			}
		}
		#sports{
			padding-top: 40vh;
			>div{
				z-index: 9999;
			}
		}
		#waterImg{
			height: 100%;
			width: 100%;
			background: 50% 100% no-repeat;
			background-image: url("../img/headerBgH.png");
			opacity: 1;
			position:relative;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			.SUP_header{
				position: absolute;
				height: 15.68vw;
				width: 14.4vw;
				left: 0;
				bottom: -13vh;
				background: url("../img/SUP.png") top left no-repeat;
				background-size: 100%;
				z-index: 11;
			}
		}
	}
	.scroll-button-container {
		left: 0;
		bottom: 60px;
		width:100%;
		position: relative;
		display:block;
		z-index: 10;
		background-color: rgba(59,59,139,0.8);
		.top-sponsors{
			a img{
				height: 60px;
				padding: 10px;
			}
		}
		.scroll-button {
			margin: 0px auto;
			background-image:url(../img/scrollButton@2x.png);
			background-repeat: no-repeat;
			background-position: center;
			height: 64px;
			background-size: 64px 25px;
			display: block;
			cursor: pointer;
		}
	}
	#formulaire{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999999999;
		width: 100%;
		height: 100%;
		background-color: rgba(0,165,217,0.8);
		h2{
			margin-top: 10vw;
		}
	}
}

section{
	width: 100%;
	display: block;

	&#programme{
		height: auto;
	}

	&#pratique{
		height: 200%;
		#map-canvas{
			width: 100%;
			height: 100%;
			img{
				max-width : none;
			}
		}
		#save-widget {
			width: 100%;
			background-color: rgba(0,165,217,0.7);
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
			padding: 15px;
			h6, p{
				color: $headings;
			}
			#uber{
				width: 100%;
				border: solid $headings 3px;
				margin: 15px 0 45px 0;
				a{
					display: block;
					img{
						padding: 15px;
						max-width: 60%;
						margin: 0 auto;
						display: block;
					}
				}
				h4{
					text-shadow: none;
					padding: 0 15px;
					text-align: center;
					font-size: 18px;
				}
				h5{
					text-shadow: none;
					padding: 0 15px;
					text-align: center;
					font-size: 20px;
				}
			}
			iframe.gm-save-widget{
				display: none;
			}
		}
	}
	&#sponsors{
		background-color: $teal;
		background-repeat: repeat;
		text-align: center;
		padding: 60px 45px;
		h6{
			padding-bottom: 30px;
		}
		a img{
			padding: 0px 10px 30px 10px;
			max-height: 260px;
			opacity: 1;
			&.smallIMG{
				padding: 15px;
			}
		}
	}
}

footer{
	padding: 60px 0;
	width: 100%;
	background: $oil;
	#calandar{
		padding:25px 0;
	}
	a{
		color: $headings;
		transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		&:hover{
			color: $teal;
		}
		&:visited{
			color: $headings;
		}
	}
}

@media #{$medium-up}{
	section{
		&#pratique{
			height: 100%;
			#map-canvas{
				height: 100%;
			}
			#save-widget {
				padding: 60px 45px 45px 45px;
				width: 50%;
				height: 100%;
				#uber{
					padding: 15px;
				}
			}
		}
		&#sponsors{
			a img.smallIMG{
				padding: 50px;
			}
		}
	}
}

@media #{$large-up}{
	header{
		.splitHeight{
			#logo img{
				width: 450px;
			}
			#sports{
				padding-top: 50vh;
			}
			#waterImg{
				#infos{
					padding-top: 55vh;
				}
			}
		}
		.scroll-button-container {
			left: 0;
			bottom: -1px;
			width:100%;
			position: fixed;
			display:block;
			z-index: 10;
			background-color: rgba(59,59,139,0.8);
			.top-sponsors{
				a img{
					height: 60px;
					padding: 10px;
				}
			}
		}
	}
	section{
		&#pratique{
			background-attachment: fixed;
			#save-widget {
				padding: 75px 45px 45px 45px;
				#uber a img{
					max-width: 300px;
				}
			}
		}
		&#sponsors{
			h6{
				padding: 75px 0;
			}
			a img{
				padding: 0px 10px 45px 10px;
				&.smallIMG{
					padding: 30px;
				}
			}
		}
	}
}

@media #{$xxlarge-up}{
	header{
		.splitHeight{
			#logo{
				top: 100px;
				img{
					width: 540px;
				}
			}
		}
	}
	section{
		&#pratique{
			background-attachment: fixed;
			#save-widget {
				#uber{
					margin: 60px auto;
					a img{
					margin: 60px auto 0 auto;
					max-width: 400px;
					}
					h5{
						margin-bottom: 60px;
					}
				}
			}
		}
		&#sponsors{
			a img.smallIMG{
				padding: 50px;
			}
		}
	}
}
