/** CUSTOM CLASS **/

.fullWidth{
	max-width: 100% !important;
}

	.splitHeight{
		&.smallTop{
			height: 25%;
		}
		&.smallBtm{
			height: 75%;
		}
	}

@media #{$portrait}{
	.splitHeight{
		&.smallTop{
			height: 0%;
		}
		&.smallBtm{
			height: 100%;
			#waterImg{
				background-image: url("../img/headerBgP@2x.png");
			}
		}
	}
}

.square{
	height: 100vw;
}
@media #{$medium-up}{
	.square{
		height: 50vw;
	}
}

/** PAGE LAYOUT **/
header{
	width: 100%;
	height: 100%;
	max-height: 100vh;
	background: #52c1bc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyYzFiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E1ZDdiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #52c1bc 0%, #a5d7bf 25%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52c1bc), color-stop(25%,#a5d7bf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #52c1bc 0%,#a5d7bf 25%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #52c1bc 0%,#a5d7bf 25%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #52c1bc 0%,#a5d7bf 25%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #52c1bc 0%,#a5d7bf 25%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52c1bc', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

	.splitHeight{
		#logo{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			text-align: center;
			z-index: 999;
			img{
				width: 400px;
				width: 40vh;
				padding: 15px;
				display: inline-block;
				-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
				-moz-animation: fadein 4s; /* Firefox < 16 */
				-ms-animation: fadein 4s; /* Internet Explorer */
				-o-animation: fadein 4s; /* Opera < 12.1 */
				animation: fadein 4s;
			}
		}
		#sports{
			padding-top: 40vh;
			-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			-ms-animation: fadein 2s; /* Internet Explorer */
			-o-animation: fadein 2s; /* Opera < 12.1 */
			animation: fadein 2s;
			>div{
				z-index: 9999;
			}
		}
		#waterImg{
			height: 100%;
			width: 100%;
			background: 50% 100% no-repeat;
			background-image: url("../img/headerBgH.png");
			opacity: 1;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		}
	}
	.scroll-button-container {
		left: 0;
		bottom: -1px;
		width:100%;
		position: absolute;
		display:block;
		z-index: 1;
		padding-bottom: 25px;
		.scroll-button {
			margin: 0px auto;
			background-image:url(../img/scrollButton@2x.png);
			background-repeat: no-repeat;
			background-position: bottom center;
			height: 64px;
			background-size: 64px 25px;
			display: block;
			padding-bottom: 100px;
			cursor: pointer;
			-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 3s; /* Firefox < 16 */
			-ms-animation: fadein 3s; /* Internet Explorer */
			-o-animation: fadein 3s; /* Opera < 12.1 */
			animation: fadein 3s;
		}
	}
}

section{
	width: 100%;
	height: 100%;
	display: block;

	&#programme{
	height: auto;
	}
	&#sponsors{
		background: $yellow;
		text-align: center;
		padding: 60px 45px
	}

	#map-canvas{
		width: 100%;
		height: 100%;
		img{
			max-width : none;
		}
	}

	#save-widget {
		width: 100%;
		height: auto;
		background-color: rgba(255,255,255,0.8);
		box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
		padding: 15px;
		h6{
			color: $white;
		}
	}

}

footer{
	width: 100%;
	height: 50%;
	background: $oil;
}

@media #{$medium-up}{
	div#save-widget {
		padding: 60px 45px;
	}
}

@media #{$large-up}{
	header{
		.splitHeight{
			#waterImg{
				#infos{
					padding: 40vh 0 0 8vw;
				}
			}
		}
	}
}
