/* HOVER JULIA EFFECT */

/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 !important;
	min-width: 320px;
	width: 100%;
	height: auto;
	text-align: center;
	cursor: pointer;
	-webkit-margin-before: 0em !important;
  	-webkit-margin-after: 0em !important;
  	-webkit-margin-start: 0px !important;
  	-webkit-margin-end: 0px !important;
	-moz-margin-before: 0em !important;
  	-moz-margin-after: 0em !important;
  	-moz-margin-start: 0px !important;
  	-moz-margin-end: 0px !important;
	-o-margin-before: 0em !important;
  	-o-margin-after: 0em !important;
  	-o-margin-start: 0px !important;
  	-o-margin-end: 0px !important;
	margin-before: 0em !important;
  	margin-after: 0em !important;
  	margin-start: 0px !important;
  	margin-end: 0px !important;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 1;
}


figure h6,
figure p {
	margin: 0;
}

figure p {
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: none;
	height: 100%;
	width: 100%;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h6 {
	color: $white;
	text-align: center;
	position: relative;
	padding: 1.5em 0 1em 0;
}
figure.effect-julia div {
	text-align: center;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.4em;
	padding: 0.2em 0.8em;
	background: rgba(255,255,255,0.8);
	color: $oil;
	text-transform: none;
	font-weight: 500;
	font-size: 3.5vw;
	text-transform: uppercase;
}
@media #{$medium-up}{
	figure.effect-julia p {
		font-size: 1.5vw;
	}
}
@media #{$large-up}{
	figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}
	figure.effect-julia h6 {
		color: $white;
		padding: 1.5em 0;
		margin-bottom: 20px;

	}
	figure.effect-julia p {
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
		transition: opacity 0.5s, transform 0.5s;
		&.fromLeft{
			-webkit-transform: translate3d(-1000px,0px,0);
			transform: translate3d(-1000px,0px,0);
		}
		&.fromRight{
			-webkit-transform: translate3d(1000px,0px,0);
			transform: translate3d(1000px,0px,0);
		}

	}

	figure.effect-julia p:first-child {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}

	figure.effect-julia p:nth-of-type(2) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	figure.effect-julia p:nth-of-type(3) {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	}

	figure.effect-julia:hover p:first-child {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	figure.effect-julia:hover p:nth-of-type(2) {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	}

	figure.effect-julia:hover p:nth-of-type(3) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	figure.effect-julia:hover img {
		opacity: 0.6;
		-webkit-transform: scale3d(1.1,1.1,1);
		transform: scale3d(1.1,1.1,1);
	}

	figure.effect-julia:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
