html.modal-open {
   overflow: hidden;
}
.reveal-modal-bg {
	background: transparent;
}

#jeudiFull.reveal-modal.full.open{
   background-image: url("../img/jeudiBgH.png");
}
#vendrediFull.reveal-modal.full.open{
   background-image: url("../img/vendrediBgH.png");

}
#samediFull.reveal-modal.full.open{
   background-image: url("../img/samediBgH.png");

}
#dimancheFull.reveal-modal.full.open{
   background-image: url("../img/dimancheBgH.png");
}
.reveal-modal{
   z-index: 99999;
   position: fixed;
   top: 0 !important;
   left: 0 !important;
	box-shadow: none;
   border: none;
   border-radius: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -o-border-radius: 0px;
   -ms-border-radius: 0px;
   height: 100%;
   width: 100%;
   background: 50% 50% no-repeat;
   opacity: 1;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   .scrollable-content{
		overflow-y: scroll;
		height: 100%;
		padding: 60px 0;
      .badges img{
         opacity: 0.9;
         padding: 15px;
      }
	}

	a.close-reveal-modal {
      color: $headings;
      text-shadow: -1px 1px 0px $violet-dark, -2px 2px 0px $violet-dark, -3px 3px 0px $red;
		top: 1.3rem;
		right: 1.7rem;
		font-size: 3rem;
	}
	p{
		margin-top: 15px;
	}
}


@media #{$portrait}{
   #jeudiFull.reveal-modal.full.open{
      background-image: url("../img/jeudiBgP.png");
   }
   #vendrediFull.reveal-modal.full.open{
      background-image: url("../img/vendrediBgP.png");

   }
   #samediFull.reveal-modal.full.open{
      background-image: url("../img/samediBgP.png");

   }
   #dimancheFull.reveal-modal.full.open{
      background-image: url("../img/dimancheBgP.png");
   }
}
