table{
   tr th{
      color: $headings;
      font-family:'arkhipregular', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      line-height: 2.2 !important;
      font-size: rem-calc(24);
      &:first-of-type{
         border-right: dotted 3px $violet-dark;
         border-bottom: dotted 3px $red;
      }
      &:last-of-type{
         border-bottom: solid 3px $red;
      }
   }
}
