/** CUSTOM FONT - FILES ROOT/FONT **/
@font-face {
    font-family: 'sn_neonoireregular';
    src: url('../font/snneonoire-regular-webfont.eot');
    src: url('../font/snneonoire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/snneonoire-regular-webfont.woff2') format('woff2'),
         url('../font/snneonoire-regular-webfont.woff') format('woff'),
         url('../font/snneonoire-regular-webfont.ttf') format('truetype'),
         url('../font/snneonoire-regular-webfont.svg#sn_neonoireregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** TITLES **/
h1, h2, h3, h4, h5, h6{
	font-family:'sn_neonoireregular', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	color: $white;
	text-shadow: 5px 5px 10px $violet-dark;
   line-height: 1.8;
   font-size: 6vw;
   small{
      color: $white;
   }
}
   @media #{$landscape-small}{
      h1, h2, h3, h4, h5, h6{
         line-height: 1.4;
         font-size: 2.8vw;
      }
   }

   @media #{$landscape-medium}{
      h1, h2, h3, h4, h5, h6{
         line-height: 1.4;
         font-size: 4vw;
      }
   }




@media #{$large-up}{
   h1, h2, h3, h4, h5, h6{
      line-height: 1.8
   }
   h1{
      font-size: 3.5vw;
   }
   h2{
      font-size: 3vw;
   }
   h3{
      font-size: 2vw;
   }

   h4, h5{
      font-size: initial;
   }
   h6{
      font-size: 3.5vw;
   }
}

@media #{$xxlarge-up}{
   h1{
      font-size: 2.8vw;
   }
   h2{
      font-size: 2.5vw;
   }
   h3{
      font-size: 2vw;
   }

   h4, h5{
      font-size: initial;
   }
   h6{
      font-size: 2.8vw;
   }
}
