/** CUSTOM FONT - FILES ROOT/FONT **/
@font-face {
    font-family: 'les_sensations_de_ceriseIt';
    src: url('../font/les_sensations_de_cerise-webfont.eot');
    src: url('../font/les_sensations_de_cerise-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/les_sensations_de_cerise-webfont.woff2') format('woff2'),
         url('../font/les_sensations_de_cerise-webfont.woff') format('woff'),
         url('../font/les_sensations_de_cerise-webfont.ttf') format('truetype'),
         url('../font/les_sensations_de_cerise-webfont.svg#les_sensations_de_ceriseIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sn_neonoireregular';
    src: url('../font/snneonoire-regular-webfont.eot');
    src: url('../font/snneonoire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/snneonoire-regular-webfont.woff2') format('woff2'),
         url('../font/snneonoire-regular-webfont.woff') format('woff'),
         url('../font/snneonoire-regular-webfont.ttf') format('truetype'),
         url('../font/snneonoire-regular-webfont.svg#sn_neonoireregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** TITLES **/
h1, h2, h3, h4, h5, h6{
	font-family:'sn_neonoireregular', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	&.transparent{
		color: transparent;
		font-size: rem-calc(0);
      display: none;
	}
	&.typeElement{
		color: $silver;
		text-shadow: 5px 5px 10px $violet-dark;
	}
}

@media #{$xlarge-up}{
   h1, h2, h3, h4, h5, h6{
      &.typeElement{
         font-size: 7rem;
      }
   }
}
